* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(135deg, #353535, #2e2e2e);
  padding: 20px;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 540px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #e9b200;
  margin: 100px auto 40px;
  padding: 40px, 30px, 70px;
  border-radius: 20px;
}

.app h2 {
  justify-content: center;
  padding-top: 40px;
  color: #f8f4f4;
  display: flex;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.task {
  display: flex;
  margin: 50px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background: #525252a2;
  border-radius: 25px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-decoration: underline;
  background: #3f3f3f;
  color: white;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px, 8px, 12px, 50px;
  user-select: none;
  cursor: pointer;
}
